.feeds-container {
      width: 500px;
      height: 800px;
      max-height: 800px;
      background-color: white;
      border-radius: 8px;
      overflow: hidden;
      padding-bottom: 12px;
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.feeds-content-container {
      overflow: auto;
      max-height: 95%;
}

.feeds-content-container::-webkit-scrollbar {
      width: 0em;
      height: 0em;
  }

.feeds-title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid silver;
      padding: 3px 14px 0px 14px;
}

.feeds-title {
      color: rgb(42, 169, 224);
      font-size: 34px;
      font-family: 'Secular One', sans-serif;
      font-weight: 400;
      cursor: pointer;
}

#feeds-title-btn-group {
    display: flex;
}

#feeds-close-btn, #feeds-write-btn {
      font-size: 20px;
      color: grey;
      cursor: pointer;
      padding: 5px;
      margin-left: 5px;
}

#feeds-write-btn:hover {
    color: rgb(42, 169, 224);
}

#feeds-close-btn:hover {
    color: rgb(40, 40, 40);
}

.feeds-item {
      border-bottom: 1px solid rgb(200, 200, 200);
}

.feeds-item-title-container {
    margin: 12px;
      display: flex;
      align-items: center;
      color: rgb(60, 60, 60);
      margin-bottom: 10px;
}

.feeds-post-img {
      height: 450px;
}

.feeds-author-title {
      font-size: 16px;
      font-weight: 600;
      margin-right: 6px;
}

.feeds-write-date {
      color: grey;
      font-size: 13px;
}

.feeds-author-profile-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 6px;
}

.feeds-picture-container {
      border-radius: 8px;
      background-color: rgb(240, 240, 240);
}

.feeds-picture-slide {
      display: flex;
      justify-content: center;
      height: 450px;
}

.feeds-img-page-btn-group {
      display: flex;
      justify-content: center;
      font-size: 24px;
      color: silver;
}

.feeds-img-prev-btn, .feeds-img-next-btn {
      cursor: pointer;
      padding: 3px;
}

.feeds-item-icon-group {
      margin: 8px;
      color: rgb(100,100, 100);
}

.feeds-item-like-btn, .feeds-item-comment-btn {
      font-size: 22px;
      cursor: pointer;
      padding: 3px;
}

.feeds-item-content-author {
      font-weight: 600;
      margin-right: 5px;
}

.feeds-item-content-container {
    margin: 12px;
}

.feeds-item-comment-text-btn {
      color: rgb(100,100, 100);
      font-size: 16px;
      padding: 3px 0;
      margin: 12px;
      cursor: pointer;
}

.feeds-likes-statistics {
    margin: 12px;
}

.like-representative-nickname {
      font-weight: 600;
      margin-right: 2px;
}

.feeds-write-container {
  display: none;
  height: 500px;
  padding: 12px;
}

.feeds-write-textarea {
  padding: 10px;
  color: rgb(50, 50, 50);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  height: 100px;
}

.feeds-write-btn-group {
  position: absolute;
  bottom: 0px;
}

.feeds-write-submit-btn,
.feeds-write-cancel-btn {
  width: 450px;
  color: white;
  text-align: center;
  padding: 12px;
  margin: 8px 0px;
  cursor: pointer;
  border-radius: 8px;
}

.feeds-write-submit-btn {
  background-color: rgb(42, 169, 224);
}

.feeds-write-cancel-btn {
  background-color: grey;
}

.feeds-write-picture-container {
  align-items: center;
  border-radius: 8px;
}

#img-input {
  display: none;
}

.img-preview-container {
  background-color: rgb(240, 240, 240);
  height: 400px;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-preview-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.img-preview-wrap img {
  max-width: 100%;
  max-height: 100%;
}

.img-preview-pagination {
  display: none;
  margin: 0 auto;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  color: grey;
  margin-bottom: 4px;
}

#img-preview-prev-btn, #img-preview-next-btn {
    margin: 0 4px;
}

#no-image-notice {
  margin: 0 auto;
  text-align: center;
  color: grey;
  width: 100px;
  cursor: pointer;
}

#no-image-notice:hover {
  color: rgb(70, 70, 70);
}

#add-img-text {
  font-size: 20px;
}

#add-img-icon {
  font-size: 32px;
}

#feeds-type-count {
  text-align: right;
  font-size: 14px;
  color: grey;
  padding: 2px;
}