* {
	margin: 0px;
	padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    background-image: url('/images/wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#svg-container {
	display: flex;
	align-items: center;
}

svg path:hover {
	cursor: pointer;
	fill: rgb(220, 220, 220);
	transition: fill 0.2s ease;
}

svg path {
	fill: rgb(150, 150, 150);
}

#main-country-name {
	position: absolute;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	width: fit-content;
	opacity: 0;
	padding: 5px;
	font-size: 1.5rem;
}

#time {
	position: absolute;
	background-color: white;
	width: fit-content;
	opacity: 1;
	padding: 5px;
	font-size: 1.5rem;
}

#country-name-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#detail-container {
	width: 550px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	max-height: 100vh;
	overflow-y: auto;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	display: none;
	padding: 20px;
	box-sizing: border-box;
}

#videoContainer {
	display: flex;

}

#ytplayer {
    margin-bottom: 10px;
	border-radius: 8px;
}

#detail-country-name {
	font-size: 32px;
	font-weight: bold;
	flex: 1;
}

#close-sidebar-btn {
	font-size: 24px;
	margin-right: 18px;
	cursor: pointer;
}

iframe {
	width: 100%;
	height: 220px;
}

#news-icon, #post-write-icon {
	text-align: left;
	margin-right: 12px;

}

#post-write-icon {
    color: rgb(42, 169, 224);
    font-size: 22px;
}

#detail-title {
	flex: 1;
	text-align: left;
}

.detail-title-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0px 10px 0px;
	background-color: rgba(50, 50, 50, 0.85);
	font-size: 22px;
	padding: 15px;
	border-radius: 12px;
}

#post-write-title {
    border-radius: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid rgb(42, 169, 224);
    margin-bottom: 0px;
}

.detail-title-see-more {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.detail-title-wrap .fa-fire-flame-simple {
	color: red;
	margin-right: 5px;
}

.detail-title-wrap .fa-square-plus {
	font-size: 32px;
	color: rgba(230, 230, 230, 1);
	margin-right: 10px;
}

.news-title,
.news-content {
	overflow: hidden;
	text-overflow: ellipsis;
}

.news-title {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 24px;
	white-space: nowrap;
}

.news-contents {
	display: flex;
}

.news-content {
	font-size: 18px;
	max-height: 145px;
	padding-left: 10px;
	padding-right: 10px;

	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}

.news-image img {
	width: 200px;
	height: 120px;
}

#modal-write-post-btn {
    font-size: 28px;
    margin-right: 12px;
}

#modal-write-post {
  width: 300px;
  height: 300px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

nav {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-btn {
    width: 80px;
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

#nav-logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#nav-btn-group {
    display: flex;
}

#nav-user-info-group {
    display: none;
    position: relative;
    align-items: center;
    cursor: pointer;
}

#nav-userinfo-nickname {
    margin-left: 4px;
    color: white;
    font-weight: bold;
}

#nav-userinfo-btn {
    padding: 8px;
    font-size: 32px;
    color: rgba(160, 195, 255);
}

#nav-userinfo-btn:hover {
    color: rgba(160, 195, 255, 0.7);
    transition: color 0.3s ease;
}

#user-info-dropdown {
    border-radius: 8px;
    display: none;
    position: absolute;
    z-index: 999;
    border: 1px solid white;
    width: 140px;
    text-align: center;
    padding: 8px 0 8px 0;
    background-color: white;
    transform: translateX(-50%);
    top: calc(100% + 8px);
    left: 50%;
}

#user-info-dropdown div {
    cursor: pointer;
    padding: 10px;
    color: grey;
    font-weight: bold;
}

#user-info-dropdown div:hover {
    color: black;
}

#login-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#login-modal {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
}

#login-modal .login-form {
    width: 100%;
    height: 100%;
}

#login-title, #signup-title {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#login-email, #login-password {
    margin: 12px 10px;
    padding: 10px;
    width: 260px;
}

.signup-form input {
    margin: 12px 10px;
    padding: 10px;
    width: 260px;
}

.valid-check {
    margin-left: 10px;
}

#login-modal-footer {
    display: flex;
    justify-content: space-around;
    padding: 14px;
    font-size: 14px;
}

#login-modal-footer div {
    cursor: pointer;
    padding: 2px;
}

#login-submit-btn, #signup-submit-btn {
    font-size: 16px;
    display: block;
    width: 285px;
    padding: 10px;
    margin: 12px 10px;
    color: white;
    cursor: pointer;
    background-color: rgba(45, 62, 80, 1);
}

#login-submit-btn:active {
    background-color: rgba(45, 62, 80, 0.97);
}

#signup-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#signup-modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
}

.post {
    display: flex;
    margin: 12px 0 12px 0;
    padding: 10px 0 10px 0;
}

#post-container {
    padding: 8px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgba(50, 50, 50, 0.9);
}

.post-profile-img-container {
    width: 50px;
}

.post-profile-img {
    display: flex;
    justify-content: center;
}

.post-profile-img i{
    font-size: 40px;
}

.post-contents-container, .comment-contents-container {
    margin-left: 10px;
}

.post-author {
    font-size: 20px;
}

.post-title {
    margin-bottom: 5px;
    width: 375px;
}

.post-date {
    color: rgb(180, 180, 180);
    font-size: 16px;
    margin-left: 8px;
}

.post-modify-btn, .post-delete-btn {
    color: white;
    padding: 4px 8px;
    font-size: 14px;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 8px;
}

.post-modify-btn {
    background-color: grey;
}

.post-delete-btn {
    border: 1px solid grey;
    background-color: black;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination div {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    margin: 0 4px 0 4px;
}

#goForwardTenPages, #goBackTenPages {
    font-size: 16px !important;
}

.post-footer-container {
    display: flex;
}

.post-footer-container div {
    margin: 6px;
}

.post-footer-container div i {
    margin-right: 4px;
}

.post-footer-likes, .post-footer-comments {
    color: rgb(180, 180, 180);
    font-size: 16px;
}

.post {
    background-color: inherit;
}

.post-transition {
    background-color: white;
    transition: background-color 0.2s ease-in-out;
}

#post-write-container {
    display: none;
    background-color: rgb(69, 73, 82);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 16px 8px 8px 8px;
    position: sticky;
    z-index: 1;
    margin-bottom: -8px;
}

.post-write-form {
    display: flex;
}

.post-write-btn-wrap {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.post-write-btn-group {
    padding: 6px 8px;
    color: white;
    width: 50px;
    border-radius: 8px;
    margin: 4px;
    text-align: center;
    cursor: pointer;
}

.post-title-wrap, .comment-title-wrap {
    display: flex;
    align-items: center;
}

.post-title-wrap {
    margin-bottom: 8px;
}

#post-write-btn {
    font-size: 26px;
    margin-right: 10px;
}

#post-write-submit-btn, .comment-submit-btn {
    background-color: rgb(42, 169, 224);
}

#post-write-cancel-btn, .comment-cancel-btn {
    background-color: rgb(40, 40, 40);
    margin-right: 4px;
}

#post-write-textarea {
    margin: 8px 0 8px 0;
    font-size: 18px;
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(40, 40, 40);
}

.post-comments {
    display: none;
}

.post-comments-container {
    margin-left: 50px;
}

.comment-dropdown{
    border-radius: 12px;
    width: 95px;
    justify-content: center;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 15px;
    color: white;
    background-color: rgb(42, 169, 224);
    cursor: pointer;
    font-size: 15px;
}

.comment {
    display: flex;
    margin-bottom: 20px;
}

.comment .comment-date {
    color: rgb(180, 180, 180);
    font-size: 14px;
    margin-left: 6px;
}

.comment-profile-img i {
    font-size: 28px;
}

.comment-author, .comment-content {
    font-size: 16px;
}

.comment-content {
    margin: 5px 0 5px 0;
}

.comment-form-btn {
    cursor: pointer;
}

.comment-form-container {
    display: none;
}

.comment-input {
    background-color: rgb(40, 40, 40);
    margin: 8px 0;
    font-size: 16px;
    color: white;
    padding: 8px;
    border: 1px solid white;
    border-radius: 8px;
}

.comment-submit-btn, .comment-cancel-btn {
    color: white;
    border-radius: 8px;
    padding: 4px 12px;
    cursor: pointer;
}

.comment-cancel-btn {
    border: 1px solid grey;
    margin-left: 6px;
}

.comment-btn-group {
    display: flex;
    justify-content: right;
    align-items: center;
}

.post-modify-mode {
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 8px;
}

.post-modify-btn-container {
    display: flex;
    justify-content: right;
    margin-top: 14px;
}

.post-modify-btn-container div {
    color: white;
    cursor: pointer;
    border-radius: 8px;
    padding: 4px 12px;
}

#post-modify-submit-btn {
    background-color: rgb(42, 169, 224);
}

#post-modify-cancel-btn {
    border: 1px solid grey;
    margin-left: 10px;
    background-color: rgb(40, 40, 40);
}